@font-face {
  font-family: "Rubik-Regular";
  src: url(../assets/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Black";
  src: url(../assets/fonts/Rubik-Black.ttf);
}

body {
  width: 100%;
  font-family: var(--font-family-regular), Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  height: 200px;
  text-align: center;
}

h1 {
  padding: var(--spacing-large);
  text-transform: uppercase;
  font-size: var(--font-size-header);
}

.slideshow__container {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  padding: var(--spacing-large) 0;
}

.slideshow {
  width: 700px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.slideshow__number {
  position: absolute;
  z-index: 2;
  top: 5%;
  right: 45%;
  font-size: var(--font-size-medium);
}

.slideshow__caption {
  font-size: var(--font-size-large);
  text-transform: uppercase;
  padding: var(--spacing-medium);
}

.slideshow__button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.slideshow__button--prev {
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 1;
}

.slideshow__button--next {
  position: absolute;
  top: 35%;
  right: 0;
  z-index: 1;
}

.slideshow__dots-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
}

.slideshow__dot {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}

.slideshow__dot--active {
  background-color: var(--primary-active-color);
}

@media screen and (max-width: 757px) {
  .slideshow {
    width: 600px;
    height: auto;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    padding: var(--spacing-large) var(--spacing-medium);
    font-size: 4rem;
  }

  .slideshow {
    width: 500px;
  }

  .slideshow__number {
    top: 35px;
  }
}

@media screen and (max-width: 513px) {
  h1 {
    font-size: 3.5rem;
  }

  .slideshow {
    width: 400px;
  }

  .slideshow__number {
    font-size: var(--font-size-base);
  }

  .slideshow__button {
    padding: 10px;
    font-size: 14px;
  }

  .slideshow__button--prev {
    top: 30%;
  }

  .slideshow__button--next {
    top: 30%;
  }

  .slideshow__dots-container {
    gap: var(--spacing-medium);
    padding: var(--spacing-large) 0;
  }
}

@media screen and (max-width: 410px) {
  header {
    padding-top: var(--spacing-medium);
  }
  h1 {
    padding: var(--spacing-large) var(--spacing-medium);
    font-size: var(--font-size-xlarge);
  }

  .slideshow {
    width: 350px;
    height: 500px;
  }

  .slideshow__number {
    top: 7%;
    font-size: var(--font-size-base);
  }

  .slideshow__button {
    padding: 5px;

    font-size: 10px;
  }

  .slideshow__button--prev {
    top: 37%;
  }

  .slideshow__button--next {
    top: 37%;
  }

  .slideshow__dots-container {
    gap: var(--spacing-medium);
    padding: var(--spacing-large) 0;
  }

  .slideshow__dot {
    width: 10px;
    height: 10px;
  }
}
