@font-face {
  font-family: "Rubik-Regular";
  src: url(../assets/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Black";
  src: url(../assets/fonts/Rubik-Black.ttf);
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-family-regular), Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 200px;
}

h1 {
  text-transform: uppercase;
  font-size: var(--font-size-header);
  text-align: center;
  padding: var(--spacing-large);
}

main {
  width: 100%;
  height: 100vh;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xlarge);
}

.slideshow {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.slideshow--active {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow__img-number,
.slideshow__img-number--active {
  position: absolute;
  top: 50px;
  padding: var(--spacing-medium);
  z-index: 1;
  font-size: var(--font-size-medium);
}

.slideshow__img,
.slideshow__img--active {
  width: 100%;
}

.back-btn,
.next-btn {
  position: absolute;
  top: 400px;
}

.next-btn {
  right: 105px;
}

.back-btn {
  left: 105px;
}
.slideshow__dot-containter {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
  padding: var(--spacing-medium);
}
.slideshow__dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.slideshow__dot--active {
  background-color: var(--primary-active-color);
}
